* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  min-height: 100vh;

  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  background-position: center;
}

.logo {
  width: 15%;
  margin: 3.2rem 4.8rem 0 4.8rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  color: #fff;
  font-size: 3.8rem;
  line-height: 1.5;
  margin-bottom: 1.8rem;
}

.hero-text-box {
  font-family: "Open Sans";
  color: #fff;
  padding: 0 18rem 3.2rem 3.2rem;
}

.hero-text {
  /* color: hsl(300, 69%, 71%); */
  opacity: 0.8;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.hero-img-box {
  justify-content: center;
  align-self: center;
  padding: 5rem;
}

.hero-img {
  width: 100%;
}

.hero-btn {
  background: none;
  border: none;
  background-color: #fff;
  padding: 1.4rem 5.2rem 1.4rem 5.2rem;
  border-radius: 100px;
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s;
}

.hero-btn:hover {
  color: #fff;
  background-color: hsl(300, 69%, 71%);
}

.socials {
  display: flex;
  justify-content: end;
  align-items: end;
  list-style: none;
  margin-right: 5rem;
  margin-top: -3rem;
}

.socials-link:link,
.socials-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.socials-link:hover,
.socials-link:active {
  color: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
}

/* .container a {
  text-decoration: none;
  padding: 3.2rem;
  color: hsl(257, 40%, 49%);
  background-color: #fff;
} */

/* @media (min-width: 450px) {
  .container {
    width: 400px;
  }
} */ ;
